<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyq.dao.Stock_OrderDao">
   <insert id="creatOrder" parameterType="Stock_Order" useGeneratedKeys="true" keyProperty="id">
        insert into stock_order value (#{id},#{sid},#{name},#{createDate})
   </insert>
</mapper>